html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #ffb300;
}

.main-container {
  display: flex;
  flex-wrap: wrap; /* Elementi se prilagodijo v dve vrstici */
  justify-content: center; /* Poravnava na sredino vodoravno */
  align-items: center; /* Poravnava na sredino navpično */
  gap: 20px; /* Razmik med elementi */
  margin-top: 10px; /* Prostor nad kontejnerjem */
}

/* Prilagodimo obstoječi slog */
.main-box {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 350px; /* Fiksna širina za boljšo poravnavo */
  background-color: aliceblue;
  text-align: center;
  border-radius: 30px;
  font-size: 25px;
  margin: 10px; /* Manjši razmik, saj gap ureja razmik med elementi */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Dodaten vizualni učinek */
}
